/* 
    General Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.text-font-base {
	font-family: Montserrat, sans-serif!important;
}

.navbar,
.footer {
	background-color: #041427;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	margin-top: 5px;
}

.footer {
	display: block !important;
}

.bg-pcolor {
	background-color: #041427;
}

.tx-white {
	color: white!important;
}

.bx-shadow {
	text-shadow: 4px 3px 3px black;
	color: white;
}

.text-primary-color {
	color: #4efffd;
}

.btn-primary-color {
	border-color: #4efffd;
	color: #4efffd;
	background-color: transparent;
}

.mw-coins {
	max-width: 220px;
}

.mw-100 {
	max-width: 100%;
}

.mh-100 {
	max-height: 100%;
}

.main-column {
	max-width: 100%;
	min-width: 550px;
}

.fa-15x {
	font-size: 1.5em;
}

.ant-modal-close {
	display: none !important;
}

.ant-modal-header,
.ant-modal-footer {
	background-color: black !important;
}

.card-body-deposit {
	width: 300px;
}

.link-a {
	cursor: pointer;
}

.flip-box-homepage {
	background-color: transparent;
	width: 165px;
	height: 145px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	/* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner-homepage {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box-homepage:hover .flip-box-inner-homepage {
	transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front-homepage,
.flip-box-back-homepage {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	/* Safari */
	backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-box-front-homepage {
	background-color: black;
	color: black;
}


/* Style the back side */

.flip-box-back-homepage {
	background-color: #4efffd;
	color: white;
	transform: rotateY(180deg);
}

.flip-box {
	background-color: transparent;
	border-radius: 25px;
	width: 170px;
	height: 170px;
    perspective: 1000px;
    display: inline-block;
	/* Remove this if you don't want the 3D effect */
}

.flip-box-usr {
	background-color: transparent;
	border-radius: 25px;
	width: 100px;
	height: 100px;
    perspective: 1000px;
    display: inline-block;
	/* Remove this if you don't want the 3D effect */
}

.flip-container-usr{
    display: inline-block;
}

.flip-box-ab {
	background-color: transparent;
	border-radius: 25px;
	width: 270px;
	height: 270px;
    perspective: 1000px;
    display: inline-block;
	/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-box-inner {
	position: relative;
	border-radius: 25px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}


.flip-box-ab:hover .flip-box-inner {
	transform: rotateY(180deg);
}

.flip-box-usr:hover .flip-box-inner {
	transform: rotateY(180deg);
}



/* Position the front and back side */

.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
    height: 100%;
    color: white!important;
	border-radius: 25px;
	-webkit-backface-visibility: hidden;
	/* Safari */
	backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-box-front {
	background-color: #041427;
	border-radius: 25px;
}


/* Style the back side */

.flip-box-back {
	background-color: dodgerblue;
	color: white!important;
	border-radius: 25px;
	transform: rotateY(180deg);
}

#cardRegister {
	position: relative;
	width: 320px;
	display: block;
	margin: 40px auto;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

#upper-side {
	padding: 2em;
	background-color: #8BC34A;
	display: block;
	color: #fff;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#checkmark {
	font-weight: lighter;
	fill: #fff;
	margin: -3.5em auto auto 20px;
}

#status {
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
	margin-top: -.2em;
	margin-bottom: 0;
}

#lower-side {
	padding: 2em 2em 5em 2em;
	background: #fff;
	display: block;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#message {
	margin-top: -.5em;
	color: #757575;
	letter-spacing: 1px;
}

#contBtn {
	position: relative;
	top: 1.5em;
	text-decoration: none;
	background: #8bc34a;
	color: #fff;
	margin: auto;
	padding: .8em 3em;
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
	border-radius: 25px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#contBtn:hover {
	-webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#R1 {
	width: 700px;
	height: 520px;
	background: #041427;
	margin-top: 100px;
}

#R2 {
	width: 646px;
	height: 420px;
	background: #041427;
	border-width: 10px;
}

#R3 {
	padding-top: 50px;
	width: 597px;
	height: 470px;
	background: #041427;
}

#R3login{

    padding-top: 90px;
	width: 597px;
	height: 470px;
	background: #041427;

}

#Rbutton {
	background: #56CCF2;
	border-radius: 20px;
	font-family: Reem Kufi;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: #F2F2F2;
	border: 1px solid #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carrousel {
    width: 1000px;
    margin: auto;
}

